body {
    background-color: bisque;
    font-family: "Century";
}

.main-text {
    text-align: center;
}


.navbar {
    font-size: 18px;
    align-self: center;
    height: 100px;
}

.button {
    background-color: #ffdbb3;
    text-decoration: none;
    display: inline-block;
    padding: 14px 30px;
    margin: 4px;
    border: 1px solid #000;
    letter-spacing: 0.08 em;
    text-transform: uppercase;
}

.button:hover {
    background-color: aliceblue;
}

.card {
    padding: 16px;
    margin: 12px;
    background-color: antiquewhite;
    border-radius: 20px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 0 auto;
}

.header-container {
    background-color: antiquewhite;
    padding: 16px;
}

.navbar {
    text-align: center;
    padding: 20px 0;
    background-color: antiquewhite;
}

.requirement {
    padding: 16px;
    margin: 12px;
    background-color: antiquewhite;
    border-radius: 20px;
}

.requirement-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
}

#footer {
    text-align: center;
}